<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @p7_scaffold.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @p7_scaffold.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @p7_scaffold.birthday %>
</p>

<%= link_to 'Edit', edit_p7_scaffold_path(@p7_scaffold) %> |
<%= link_to 'Back', p7_scaffolds_path %>
